<%- include("partials/headAdmin.ejs") %>
<%- include("partials/navAdmin.ejs") %>

    <main>
        <h1 class="h1-centrar">Crear producto</h1>
        <hr>
        <br>
        
        <!-- Formulario que va a enviar nuestros datos al endpoint -->
        
        <form id="crear-productos">

            <div class="campo">
                <label for="tituloProd">Título</label>
                <div class="subrayado"></div>
                <input type="text" id="tituloProd" required>
            </div>

            <div class="campo">
                <label for="tipoProd">Tipo</label>
                <div class="subrayado"></div>
                <select id="tipoProd">
                    <option>Vinilo</option>
                    <option>Cd</option>
                    <option>Cassette</option>
                </select>
            </div>

            <div class="campo">
                <label for="generoProd">Género</label>
                <div class="subrayado"></div>
                <input type="text" id="generoProd" required>
            </div>

            <div class="campo">
                <label for="autorProd">Autor</label>
                <div class="subrayado"></div>
                <input type="text" id="autorProd" required>
            </div>

            <div class="campo">
                <label for="precioProd">Precio</label>
                <div class="subrayado"></div>
                <input type="number" id="precioProd" required>
            </div>

            <div class="campo">
                <label for="imagenProd">Imagen</label>
                <div class="subrayado"></div>
                <input type="text" id="imagenProd" required>
            </div>

            
                <button type="submit" class="form-boton">Crear</button>
            
        </form>

        <div id="contenedor-productos"></div>

    </main>

    <script src="js/create.js"></script>

<%- include("partials/footer.ejs") %>