<%- include("partials/headAdmin.ejs") %>
<%- include("partials/navAdmin.ejs") %>

    <main>
        <h1>Crear producto</h1>
        <hr>
        <br>
        
        <!-- Formulario que va a enviar nuestros datos al endpoint -->
        
        <form id="crear-productos">
            <label for="tituloProd">Titulo</label>
            <input type="text" name="titulo" id="tituloProd" required>

            <label for="tipoProd">Tipo</label>
            <select name="tipo" id="tipoProd">
                <option value="Vinilo">Vinilo</option>
                <option value="Cd">Cd</option>
                <option value="Cassette">Cassette</option>
            </select>
            
            <label for="generoProd">Genero</label>
            <input type="text" name="genero" id="generoProd" required>
            
            <label for="autorProd">Autor</label>
            <input type="text" name="autor" id="autorProd" required>

            <label for="precioProd">Precio</label>
            <input type="number" name="precio" id="precioProd" required>
            
            <label for="imagenProd">Imagen</label>
            <input type="text" name="imagen" id="imagenProd" required>

            <input type="submit" value="Crear producto">
        </form>

        <div id="contenedor-productos"></div>

    </main>

    <script src="js/create.js"></script>

<%- include("partials/footer.ejs") %>