<%- include("partials/headAdmin.ejs") %>
<%- include("partials/navAdmin.ejs") %>

    <main>
        <h1 class="h1-centrar">Crear producto</h1>
        <hr>
        <br>
                
        <form id="crear-productos">

            <div class="campo">
                <label for="tituloProd">Título</label>
                <input type="text" id="tituloProd" name="titulo" required>
            </div>

            <div class="campo">
                <label for="tipoProd">Tipo</label>
                <select id="tipoProd" name="tipo">
                    <option>Vinilo</option>
                    <option>Cd</option>
                    <option>Cassette</option>
                </select>
            </div>

            <div class="campo">
                <label for="generoProd">Género</label>
                <input type="text" id="generoProd" name="genero" required>
            </div>

            <div class="campo">
                <label for="autorProd">Autor</label>
                <input type="text" id="autorProd" name="autor" required>
            </div>

            <div class="campo">
                <label for="precioProd">Precio</label>
                <input type="number" id="precioProd" name="precio" required>
            </div>

            <div class="campo">
                <label for="imagenProd">Imagen</label>
                <input type="text" id="imagenProd" name="imagen" required>
            </div>

            <button type="submit" class="form-boton">Crear producto</button>
        </form>
        <br>
        <br>



        <h1 class="h1-centrar">Crear usuario</h1>
        <hr>
        <br>
        <form id="altaUsers-container">
            <label for="nombreUser">Nombre</label>
            <input type="text" name="name" id="nombreUser" required>

            <label for="emailUser">Email</label>
            <input type="email" name="email" id="emailUser" required>

            <label for="passwordUser">Password</label>
            <input type="password" name="password" id="passwordUser" required>

            <button type="submit" class="form-boton">Crear usuario</button>
        </form>


    </main>

    <script src="/js/create.js"></script>

<%- include("partials/footer.ejs") %>