<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main>
    <div class="main-div">

        <div class="div-inicio-img">
            <img class="inicio-img" src="img/cara-de-gato-estrellas.png" alt="">
        </div>

        <div class="contenido-div">
            <div class="div-h1-p">
                <h1>¡Bienvenidos a Duque's Music!</h1>
                <br>
                <p>Aqui podrás encontrar los CDs, Vinilos y Cassettes de todos tus artistas favoritos.</p>
            </div>
        </div>

    </div>
</main>

<%- include("partials/footer.ejs") %>