<%- include("partials/headAdmin.ejs") %>

    <% if (typeof error !== "undefined") { %>
        <div class="error-message">
            <%= error %>
        </div>
    <% } %>
        

    <h1>Login dashboard</h1>

    <form action="/login" method="POST" autocomplete="off" id="login-form">

        <label for="emailUser">Email</label>
        <input type="email" name="email" id="emailUser" required>

        <label for="passwordUser">Password</label>
        <input type="password" name="password" id="passwordUser" required>
        
        <input type="submit" value="Login">
        <input type="button" id="acceso-rapido" value="Acceso rapido">
    </form>


    <script>
        // Funcionalidad boton acceso rapido
        let emailUser = document.getElementById("emailUser");
        let passwordUser = document.getElementById("passwordUser");

        let acceso_rapido = document.getElementById("acceso-rapido");

        acceso_rapido.addEventListener("click", () => {
            emailUser.value = "test@test.com";
            passwordUser.value = "test"
        });
    </script>


<%- include("partials/footer.ejs") %>