<%- include("partials/headAdmin.ejs") %>

<% if (typeof error !== "undefined") { %>
    <div class="error-message">
        <%= error %>
    </div>
<% } %>


<main class="main-login">
    
    <h1 class="h1-centrar">Login</h1>
    <br>

<form action="/login" method="POST" autocomplete="off" id="login-form">
    <div class="div-login">
        <div class="email-pass">
            <label for="emailUser">Email</label>
            <input type="email" name="email" id="emailUser" required>

            <label for="passwordUser">Password</label>
            <input type="password" name="password" id="passwordUser" required>
        </div>

        <div class="login-rapido">
            <input type="submit" value="Login">
            <input type="button" id="acceso-rapido" value="Acceso rapido">
        </div>
    </div>
</form>

</main>

<script>
    // Funcionalidad boton acceso rapido
    let emailUser = document.getElementById("emailUser");
    let passwordUser = document.getElementById("passwordUser");

    let acceso_rapido = document.getElementById("acceso-rapido");

    acceso_rapido.addEventListener("click", () => {
        emailUser.value = "test@test.com";
        passwordUser.value = "test"
    });
</script>


<%- include("partials/footerLogin.ejs") %>