<%- include("partials/headAdmin.ejs") %>
<%- include("partials/navAdmin.ejs") %>

    <main>
        <h1 class="h1-centrar">Modificar producto</h1>
        <hr>
        <br>
        
        <form id="getProduct-form">
            <label for="idProd">Id del producto</label>
            <input type="number" name="idProd" id="IdProd" required>

            <input class="boton" type="submit" value="Consultar producto">
        </form>
        
        <div id="lista-productos">
            
        </div>

        <div id="update-formulario-contenedor">

        </div>
        
    </main> 

    <script src="/js/update.js"></script>
    
<%- include("partials/footer.ejs") %>