<%- include("partials/headAdmin.ejs") %>
<%- include("partials/navAdmin.ejs") %>

    <main>
        
        <h1 class="h1-centrar">Lista de productos</h1>
        <hr>
        <div class="tabla-centro">
            <table id="tabla-productos">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Tipo</th>
                        <th>Género</th>
                        <th>Precio</th>
                        <th>Autor</th>
                        <th>Imagen</th>
                        <th>Activo</th>
                    </tr>
                </thead>

                <tbody id="tabla-productos-body">
                </tbody>
            </table>
        </div>
    </main>

    <script src="js/get.js"></script>

<%- include("partials/footer.ejs") %>