:root {
    --violetaOscuro: #504e63;
    --negro: black;
    --blanco: white;
    --colorProducto: #504e63;
    --colorFooter: #100a20;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Login*/

.h1-centrar {
    text-align: center;
}

.main-login {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0
    ;
}

.div-login {
    background-color: #1a1a2e; 
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.email-pass {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email-pass input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

.login-rapido {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.login-rapido input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.login-rapido input[type="submit"] {
    background: var(--colorFooter);
    color: white;
}

#acceso-rapido {
    background:var(--colorProducto);
    color: white;
}

.email-pass {
    display: grid;
}

#logout {
    display: flex;
    justify-content: center;
}

#logout input {
    border: none;
    padding: 8px 14px;
    background: var(--colorProducto);
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
    margin: 0 auto 10px;
}

.error-message {
    background-color: #2a223d; 
    color: var(--blanco); 
    padding: 12px 15px;
    border-radius: 10px; 
    border: 2px solid var(--colorProducto);
    font-size: 18px;
    font-weight: bold;
    width: 350px;
    text-align: center;
    margin: 20px auto;        
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

/*Consulta*/

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: var(--colorFooter);

}

header {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--violetaOscuro);
    color: var(--blanco);
    margin: 0;
    width: 100%;
    padding: 3px
}

.div-header-p-img {
    display: flex;
    align-items: center;
    width: auto;
}

.header-img {
    width: 5.6%;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.header-p {
    margin-left: 10px;
    margin-right: 10px;
}

.header-p-span {
    font-weight: 600;
}

.nav-a {
    color: var(--blanco);
    margin-left: 15px;
    text-decoration: none;
}

.nav-a:last-of-type {
    margin-right: 50px;
}

#getProduct-form {
    text-align: center;
}

.boton {
    border: none;
    background-color: var(--violetaOscuro);
    color: var(--blanco);
    width: auto;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}

#IdProd {
    width: 350px;
    padding: 5px;
    font-size: 14px;
    border: 2px solid;
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] { 
    -moz-appearance: textfield; 
    appearance: none;
}

#lista-productos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; 
    padding: 20px;
}

.ul-admin {
    list-style: none;
    padding: 0;
    margin: 0;
}

.li-listados {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 12px;
    padding: 15px;
    width: 900px;        
    max-width: 200%;
    border: 2px solid;
    transition: 0.70s ease;
    background-color: var(--colorProducto);
}

.li-listados:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.li-listados img {  
    width: 180px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.li-listados p {
    font-size: 23px;
    font-weight: 500;
}

/*Crear*/

#crear-productos, #altaUsers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 25px;
    max-width: 700px;  
    margin: 0 auto;    
    padding: 19px;
}

.campo {
    display: flex;
    flex-direction: column; 
}

.campo label {
    text-align: center; 
    margin-bottom: 10px;
}

.campo label::after {
    content: "";
    display: block;
    margin: 4px auto 10px auto;
    width: 100%;           
    height: 2px;
    background: white;
}

#crear-productos input,
#crear-productos select {
    width: 100%;
    border: none;width: 350px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

#altaUsers-container input {
    width: 100%;
    border: none;width: 350px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.form-boton {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    grid-column: span 2; 
    border: none;
    background-color: var(--violetaOscuro);
    color: var(--blanco);
    width: auto;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#eliminar-boton{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    grid-column: span 2; 
    border: none;
    background-color: var(--violetaOscuro);
    color: var(--blanco);
    width: auto;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/*Modificar*/

.boton-crear {  
    margin-top: 10px;
}

#modificar-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 25px;
    max-width: 700px;  
    margin: 0 auto;
}

#modificar-productos input[type="submit"] {
    border: none;
    background: var(--colorProducto);
}

#modificar-productos input,
#modificar-productos select {
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 14px;
    border: 2px solid;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.full-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Ver Productos*/

.tabla-centro {
    display: flex;
    justify-content: center;
    width: 100%;
}

#tabla-productos {
    width: 100%;
    border-collapse: collapse;
    width: 70%;
    margin-top: 20px;
    background: #151020;  
    color: white;
    margin-bottom: 20px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    justify-content: center;
}

#tabla-productos th, 
#tabla-productos td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

#tabla-productos th {
    background: #201833;
}

#tabla-productos img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}
