<header>
            
    <div class="div-header-p-img">
        <img class="header-img" src="img/cara-de-gato-feliz.png" alt="">
        <p class="header-p">Duque's <span class="header-p-span">Music</span></p>
    </div>

    <div class="div-buscador">
        <input type="search" id="buscador-productos" placeholder="Buscar productos...">
    </div>

    <nav>    
        <div class="nav-div">
            <a class="nav-a" href="/inicio">Inicio</a>
            <a class="nav-a" href="/productos">Productos</a>
            <a class="nav-a" href="/nosotros">Nosotros</a>
            <a class="nav-a" href="/carrito">Carrito</a>
        </div>
    </nav>
    
</header>